@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    user-select: none;
    cursor: crosshair;
}
/* audio controls */
#sound-container{
    display: flex;
    gap: 10px;
    position: absolute;
    top: 5px;
    left: 5px;
    width: fit-content;
}
#sound-container img{
    width: 40px;

}
.icon-container{
    cursor: pointer;

    position: relative;
}
.disabled-sound{
    position: absolute;
    width: 100%;
    height: 100%;
    color: rgb(224, 100, 100);
    font-size: 2.4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: -5%;
    left: 22%;
}

/* instructions */
#instructions-img{
    position: absolute;
    bottom: 20px;
    width: 250px;
}

/* Game container */
#main-container{
    border-radius: 10px;
    background-image: url(docs/images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 800px;
    height:700px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    overflow: hidden;
   z-index: 100;
}

/* ------------------------------------------------ Start game */
#start-menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: 'Montserrat', sans-serif;

}
#logo-container{
    background-color: rgba(255, 255, 255, 0.344);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 30px;
    margin-top: 90px;

}

.alien-title{
    width: 250px;
    height: 74px;

}

.blaster-title{
    width: 350px;
    height:74px;


}

.logo-title{
    width: 100px;
    right: 30px;
    top: 25px;
    position: absolute;
    opacity: 0.8;
}


#buttons-container{
   

}



/* Game Over Div */

#game-over-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
    gap: 10px;


}
#game-over-title{
    font-size: 6rem;
    background-color: rgba(195, 118, 90, 0.4);
    border: 3px solid rgba(0, 0, 0, 0.307);
    border-radius: 5px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(218, 204, 204);
}
#retry-btn, .back-to-menu-btn{
    background-color: white;
    font-size: 2.5rem;
    
}

.menu-btn{
    background-color: rgba(255, 255, 255, 0.913);
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
    font-size: 2rem;
    transition: all 0.15s linear;
    color: black;
    border: 5px solid rgb(91, 107, 128);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.menu-btn:hover{
    background-color:rgb(91, 107, 128) ;
    color: white;
}
.menu-btn:active{
    transform: scale(0.95);
}

/* levels left */
#levels-left-div{
    user-select: none;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.481);
    padding: 3px 10px;
    right: 0;
    border-radius: 0px 0px 0px 5px;
    opacity: 0.4;
}
#levels-left-div h2{
    font-size: 1.5rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
#levels-left-div p{ 
    font-weight: 900;

    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#levels-left-div div{
    font-size: 1rem;
    grid-column: 2 /3;
    grid-row: 2 / 3;

}

/* you win div */
#you-win-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 10px;
}


#you-win-title{
    font-size: 6rem;
    background-color: rgba(33, 187, 25, 0.4);
    border: 3px solid rgba(0, 0, 0, 0.307);
    border-radius: 5px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(218, 204, 204);
}

/* powerups */
.powerup{
    position: absolute;
    bottom: 40px;
    width: 40px;
    animation: powerupAnim 1s linear infinite;

}



@keyframes powerupAnim {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}