
#main-character{
    width: 140px;
    height: 140px;
    position: absolute;

    bottom: 15px;



}
/* player health */
.player-health-style{
    position: absolute;
    background-color: white;
    left: -25px;
}

.player-health-bar{
    position: absolute;
    width: 100px;
    height: 10px;
    left: 15%;
    bottom: 0;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid white;
}
.player-health-bar div{
    background-color: hsl(120, 100%, 50%);
    width: 100%;
    height: 100%;
}

.bullet{
    position: fixed;
    width: 5px;
    height: 20px;
    border-radius: 20px;
    background-color: rgb(230, 22, 22);
    filter: blur(1px) drop-shadow(0px 1px 3px rgb(207, 217, 8));
    bottom: 0;

}


/* tank css */

.main-part{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
.gun-div{
    height: 15%;
    display: flex;
    flex-direction: column;
    width: 30%;
    position: relative;
}
.blaster-gun{
    position: absolute;
    width: 40%;
    height: 30%;
    left:30%;
    background-color: rgb(50, 48, 48);
    border-radius: 2px;
    border: 2px solid black;
}
.upper-gun{
    border: 3px solid black;
    border-bottom: none;
    height: 80%;
    width: 30%;
    align-self: center;
    background-color: #505d63;

}
.gun-base{
    border:3px solid black;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
    height: 20%;
    background-color: #486472;

}


.upper-div{
    border: 3px solid black;
    height: 30%;
    border-radius: 20px 20px 0px 0px;
    border-bottom: none;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #486472;
}
.inner-upper-div{
    border: 2px solid rgba(0, 0, 0, 0.755);
    height: 60%;
    width: 60%;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
    background-color: #90A7B2;

}
.lower-div{
    display: flex;
    height: 30%;
    border: 3px dashed black;
    width: 100%;
    border-radius: 50px;
    background-color: #486472;

}


.wheel{
    border: 1px solid black;
    width: 100%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: wheelAnim 1s linear infinite;
    background-color: black;
}
.line-1{
    position: absolute;
    border: 1px solid #607D8B;
    height: 30%;
    top: 0;
}
.line-2{
    position: absolute;
    border: 1px solid #607D8B;
    height: 30%;
    bottom: 0;
}
@keyframes wheelAnim {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.inner-wheel{
    width: 30%;
    height: 30%;
    border-radius: 50px;
    background-color: #607D8B;
    
}